/*blaaahhhh blah blahblah*/
/*whats up guys*/


  a {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  /*display: flex; */
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(255, 247, 0);
}

/* selected link */
a:active {
  color: blue;
}

body {
    background-color: rgb(0, 0, 0);
  }
  h1 {
    color: rgb(255, 255, 255);
  }
  p {
    color: rgb(255, 255, 255);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }
nav {
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: rgb(0, 0, 0);
    height: 100px;
    font-size: 40px;
    font-family: monospace;
    color: azure;
}

h1 {
    margin: 20px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
h2 {
    margin: 20px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.heroimage {
    width: 85%;
    height: 400px;
    color: rgb(235, 255, 20);
    background-color: blueviolet;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}
img {
    height: 80%;
}
.newestimage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

h3 {
        margin: 20px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
}
.about_names {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    margin: 20px;

}

.review_1_quote {
    background-color: rgb(132, 13, 118);
    height: 15%;
    width: 60%;
    margin: 40px;
    align-items: self-start;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
}


footer {
  text-align: left;
  padding: 3px;
  background-color: rgb(255, 0, 255);
  color: white;
}
footer {
  display: block;
}
.space_content {
    height: 300px;
    width: 100%;
}
